<h1>New Supplier</h1>
<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
<form action="new" method="POST">
  <label for="supplier">User</label>
  <input type="text" name="supplier" id="supplier">
  <label for="company">Company</label>
  <input type="text" name="companyName" id="companyName">
  <label for="phone">PhoneNumber</label>
  <input type="number" name="phoneNumber" id="phoneNumber">
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <button>Create</button>
  <a href="/suppliers">Cancel</a>
</form>
