<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
<a href="/users">Show Users</a> |
<a href="/products">Show Products</a> |
<a href="/suppliers">Show Suppliers</a> | 
<a href="/clients">Show Clients</a> |
<a href="/logout">Logout</a>
