<!-- Modal Structure -->
<div id="modal-users-edit" class="modal">
  <div class="modal-content">

    <h1>Edit User <%= user.username %></h1>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
    <% } %>
    <div class='row'>
      <form action="/users/edit" method="POST" class='col s12'>
        <div class='row'>
          <div class="input-field col s12">
            <label for="user" data-error="wrong" data-success="right">User</label>
            <input type="text" name="user" id="user-modal-edit" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="first-name" data-error="wrong" data-success="right">First Name</label>
            <input type="text" name="first-name" id="first-name-modal-edit" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="last-name" data-error="wrong" data-success="right">Last Name</label>
            <input type="text" name="last-name" id="last-name-modal-edit" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="email" data-error="wrong" data-success="right">Email</label>
            <input type="email" name="email" id="email-modal-edit" class="validate" required>
          </div>
          <div class="input-field col s6">
            <label for="rol" class="active" data-error="wrong" data-success="right">Rol</label>
            <select name="rol" id="rol-modal-edit-user" required>
              <option value="admin" >Admin</option>
              <option value="employee">Employee</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="waves-effect waves-light btn blue-grey" type='submit'>
              UPDATE
              <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light red btn" href="/users">CANCEL</a>
          </div>
        </div>
      </form>
    </div>

<!-- wraper modal -->
  </div>
</div>
