<div class="login-container">
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">
        <h4 class="center white-text header-title-login">Welcome to <%= title %></h4>
        <form class="white-text" action="/login" method="POST">
          <div class="input-field">
            <label class="white-text" for="username">Username</label>
            <input type="text" name="username" class="validate">
          </div>
          <div class="input-field">
            <label class="white-text" for="password ">Password</label>
            <input type="password" name="password" class="validate">
          </div>
          <% if (typeof message != "undefined") { %>
            <div class="error-message"><%= message %></div>
          <% } %>
          <div class="center">
            <input class="waves-effect waves-light btn blue-grey" type="submit" value="Log In">
          </div>
        </form>
    </div>
    <div class="col s2"></div>
  </div>
</div>