<h1>New Client</h1>
<hr><br>
<div class="row">
    <form action="/clients/new" method="post">
      <div class="row">
        <div class="input-field col s6">
            <label class="white-text" for="firstName">Name</label>
            <input class="validate" type="text" name="firstName" id="firstName" required>
        </div>
        <div class="input-field col s6">
            <label class="white-text" for="lastName">Last name</label>
            <input class="validate" type="text" name="lastName" id="lastName" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <label class="white-text" for="email">Email</label>
            <input class="validate" type="email" name="email" id="email" required>
        </div>
        <div class="input-field col s6">
            <label class="white-text" for="address">Address</label>
            <input class="validate" type="text" name="address" id="address" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label class="white-text" for="phoneNumber">Phone Number</label>
          <input class="validate" type="tel" name="phoneNumber" id="phoneNumber" required>
        </div>
        <div class="input-field col s6">
          <select name="employeeVendor" id="employeeVendor">
            <% users.forEach(user => { %>
              <option class="white-text" value="<%= user.id %>"><%= user.username %></option>
            <% })%>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select class="product-client-list col s12" name="productsList" multiple="multiple" id="productsList">
            <% productsListSelect.forEach(product => {  %>
              <option value="<%= product.id %>"><%= product.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      
      <a class="btn-margin waves-effect waves-light btn blue-grey right" href="/clients">Back to client list</a>
      <button class=" btn-margin waves-effect waves-light btn blue-grey right">Create</button>      
    </form>
</div>