<!-- Modal Structure -->
<div id="modal-suppliers-edit" class="modal">
  <div class="modal-content">

    <h1 id='title-modal-edit-supplier'>Edit Supplier</h1>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
    <% } %>
      <div class='row'>
        <form action="/suppliers/:id/edit" id='id-modal-edit-supplier' method="POST" class='col s12'>
          <div class='row'>
            <div class="input-field col s6">
              <label for="supplier" data-error="wrong" data-success="right">Supplier</label>
              <input type="text" name="supplier" id="supplier-modal-edit" class="validate" required>
            </div>
            <div class="input-field col s6">
              <label for="companyName" data-error="wrong" data-success="right">Company</label>
              <input type="text" name="companyName" id="company-name-modal-edit" class="validate" required>
            </div>
            <div class="input-field col s6">
              <label for="phoneNumber">PhoneNumber</label>
              <input type="tel" name="phoneNumber" id="phone-number-modal-edit" class="validate" required>
            </div>
            <div class="input-field col s6">
              <label for="email">Email</label >
              <input type="email" name="email" id="email-modal-edit-user" class="validate" required>
            </div>
            <div class="modal-footer">
              <button class="waves-effect waves-light btn blue-grey"type='submit'>
                UPDATE
                <i class="material-icons right">send</i>
              </button>
              <a class="waves-effect waves-light red btn" href="/suppliers">CANCEL</a>
            </div>
          </div>
        </form>
      </div>

<!-- wraper modal -->
    </div>
</div>
