body {
  margin: 0;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  background-color: #E53935 !important;
}

.modal-footer {
  margin: 0 auto;
}

hr {
  height: 5px;
  background-color: #607d8b;
}

h1 {
  display: inline;
  margin-left: 100px;
  text-align: center
}


.btn-floating{
  margin-top:10px
}

table.bordered{
  margin-top: 50px;
}

.dashboard{
  margin-bottom:20px;
}

header{
  margin-top: 20px;
}
