body {
  margin: 0;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  background-color: #E53935 !important;
}

.modal-footer {
  margin: 0 auto;
}

.label-modal-edit {
  visibility: hidden;
}

.product-client-list{
  width: 100%;
}

hr {
  height: 5px;
  background-color: #607d8b;
}