body {
  margin: 0;
  font: 14px 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  background-color: #E53935 !important;
}

.blue {
  background-color: #2196F3 !important;
}

.white-text{
  color: #000 !important;
}

.text-white {
  color: #fff;
}

.modal-footer {
  margin: 0 auto;
}

hr {
  height: 5px;
  background-color: #607d8b;
}

h1 {
  display: inline;
  margin-left: 100px;
  text-align: center
}


.btn-floating{
  margin-top:10px
}

table.bordered{
  margin-top: 50px;
}

.back-link{
  margin-bottom:20px;
  font-size: 24px;

}

header{
  margin-top: 20px;
}
.input-field input[type=text] {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password] {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=tel] {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email] {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.dashboard-cards {
  margin-top: 50px;
}

.header-title-login{
  padding-bottom: 50px;
}

.login-container {
  margin: 75px;
}

.btn-margin{
  margin: 0 20px;
}

#nav-mobile{
  margin-right: 40px;
}
