<!-- Modal Structure -->
<div id="modal-products-new" class="modal">
  <div class="modal-content">

    <h2>New Product</h2>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>
      <div class='row'>
        <form action="/products/new" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <label for="name">Name</label>
              <input type="text" name="name" id="name">
            </div>
            <div class="input-field col s6">
              <label for="Price">Price</label>
              <input type="text" name="price" id="price" placeholder="$0.00">
            </div>
            <div class="input-field col s6">
              <label for="description">Description</label>
              <input type="text" name="description" id="description">
            </div>
            <div class="input-field col s6">
              <select name="supplierID" id="supplier">
                <% suppliers.forEach(supplier => { %>
                <option value="<%= supplier.id %>"><%= supplier.name %></option>
                <% }) %>
              </select>
            </div>
            <div class="modal-footer">
              <button class="waves-effect waves-light btn blue-grey">Create</button>
              <a class="waves-effect waves-light btn red" href="/products">Cancel</a>
            </div>
          </div>
        </form>
      </div>
<!-- wraper modal -->
  </div>
</div>
