<h2>New Product</h2>
<% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
<% } %>

<div class="row">
    <form action="/products/new" method="POST">
      <div class="row">
          <div class="input-field col s6">
              <label class="white-text" for="name">Name</label>
              <input class="validate" type="text" name="name" id="name" required>
            </div>
            <div class="input-field col s6">
              <label class="white-text" for="Price">Price</label>
              <input class="validate" type="text" name="price" id="price" required>
            </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
              <label class="white-text" for="description">Description</label>
              <input class="validate" type="text" name="description" id="description" required>
            </div>
            <div class="input-field col s12">
              <select name="supplierID" id="supplier">
                    <% suppliers.forEach(supplier => { %>
                      <option value="<%= supplier.id %>"><%= supplier.name %></option>
                    <% }) %>
                  </select>
            </div>
      </div>
      <a class="btn-margin waves-effect waves-light btn red right" href="/products">Cancel</a>
      <button class="btn-margin waves-effect waves-light btn blue-grey right">Create</button>      
    </form>
</div>