<h2>New Product</h2>
<% if (typeof message != "undefined") { %>
  <div class="error-message">
    <%= message %>
  </div>
<% } %>
<form action="/products/new" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="Price">Price</label>
  <input type="text" name="price" id="price" placeholder="$0.00">
  <label for="description">Description</label>
  <input type="text" name="description" id="description">
  <select name="supplierID" id="supplier">
    <% suppliers.forEach(supplier => { %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
    <% }) %>
  </select>
  <button class="waves-effect waves-light btn blue-grey">Create</button>
  <a class="waves-effect waves-light btn red" href="/products">Cancel</a>
</form>